Для корректной работы модуля list_methods.py потребуется импорт библиотек:
random

Для корректной работы модуля string_methods.py потребуется импорт библиотек:
random

Для корректной работы модуля set_methods.py потребуется импорт библиотек:
random

Для корректной работы модуля 2seq.py потребуется импорт библиотек:
re

Для корректной работы модуля 3seq.py потребуется импорт библиотек:
re

Для корректной работы модуля victory.py потребуется импорт библиотек:
random
re
time
